.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #124076;
}

.logoText {
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar {
  display: flex;
}

.navList {
  list-style: none;
  display: flex;
}

.navItem {
  padding: 0 10px;
}

.navLink {
  text-decoration: none;
  color: #124076;
  font-size: 1.3rem;
  font-weight: 100;
}

.navLink.active {
  color: #a18f54;
  text-decoration: underline;
}

.carousel {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.carouselItem h2,
.carouselItem p {
  padding-top: 2em;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  font-size: 5em;
}

.carouselItem {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.carouselItem.active {
  opacity: 1;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.signup-section {
  display: flex;
  width: 90%;
  height: 300px;
  margin: 50px;
}

.signup-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.signup-content {
  flex: 1;
  background-color: #26466b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.signup-content h2 {
  margin-bottom: 10px;
}

.signup-content p {
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

input[type="email"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signUp {
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
  transition: background-color 0.3s;
  -webkit-text-fill-color: #0a2c52;
}

.signUp:hover {
  background-color: #a18f54;
}

@media (max-width: 600px) {
  .signup-form {
    flex-direction: column;
  }

  input[type="email"],
  button {
    width: 100%;
    margin-right: 0;
  }
}
footer {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px 10px;
  text-align: center;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  margin-left: 30px;
}

.footerBottom {
  text-align: center;
  padding-top: 10px;
}


.footerLogo {
  max-width: 100px;
  margin-right: 20px;

}

.socialIcon {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.socialIicon:hover {
  transform:scale3d(4s);
}
.toursTabs {
    text-align: center;
    padding: 20px;
}

.toursTabs h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.toursTabs p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.tabLinks {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.tabLinks:hover, .tabLinks.active {
    background-color: #0099ff;
    color: white;
    transform: translateY(-2px);
}

.tabLinks:not(.active):hover {
    background-color: #e0e0e0;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.tourCard {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tourCard img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.info,
.hoverInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.info h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
}

.hoverInfo {
    background-color: rgba(161, 143, 84, 0.9);
    opacity: 0;
    overflow: hidden;
}

.hoverInfo p {
    margin-top: 20%;
    font-size: 1rem;
}

.hoverInfo button {
    border: none;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
}

.hoverInfo button:hover {
    background-color: #a18f54;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tourCard:hover .hoverInfo {
    opacity: 1;
}

.tourCard:hover img {
    transform: scale(1.1);
}
