body {
  background-color: #f8f9fa;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 40px;
  border-bottom: 1px solid #ccc;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #124076;
}

.logoText {
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar {
  display: flex;
}

.navList {
  display: flex;
}

.navItem {
  display: inline;
  padding: 0 10px;
}

.navLink {
  text-decoration: none;
  color: #124076;
  font-size: 1.3rem;
  font-weight: 100;
}

.navItem.active {
  color: #a18f54;
  font-weight: 800;
  text-decoration: underline;
}

.navItem :hover {
  color: #a18f54;
  text-decoration: underline;
}
.carousel {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.carouselItem h2,
.carouselItem p {
  padding-top: 2em;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  font-size: 5em;
}

.carouselItem {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.carouselItem.active {
  opacity: 1;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.signupSection {
  display: flex;
  width: 90%;
  height: 280px;
  margin: 50px;
}

.signup-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.signup-content {
  flex: 1;
  background-color: #26466b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.signup-content h2 {
  margin-bottom: 10px;
}

.signup-content p {
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

input[type="email"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signUp {
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
  transition: background-color 0.3s;
  -webkit-text-fill-color: #0a2c52;
}

.signUp:hover {
  background-color: #a18f54;
}

@media (max-width: 600px) {
  .signup-form {
    flex-direction: column;
  }

  input[type="email"],
  button {
    width: 100%;
    margin-right: 0;
  }
}
footer {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px 10px;
  text-align: center;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  margin-left: 30px;
}

.footerBottom {
  text-align: center;
  padding-top: 10px;
}

.footerLogo {
  max-width: 100px;
  margin-right: 20px;
}

.socialIcon {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: scale3d(4s);
}
.toursTabs {
  text-align: center;
  padding: 20px;
}

.toursTabs h2 {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.toursTabs p {
  color: #666;
  font-size: 20px;
  margin-bottom: 2;
  text-align: center;
}
.tabText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.tabLinks {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;

  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.tabLinks:hover,
.tabLinks.active {
  background-color: #a18f54;
  color: white;
  transform: translateY(-2px);
}

.tabLinks:not(.active):hover {
  background-color: #e0e0e0;
}
#tourTab {
  background-color: #a18f5418;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.tourCard {
  display: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 1em;
  border-radius: 10px;
}

.tourCard img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.tabContent {
  display: none; /* Hide all tab content by default */
}

.tabContent.active {
  display: block; /* Show active tab content */
}

.info,
.hoverInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.info h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 1.2rem;
}

.hoverInfo {
  background-color: rgba(161, 143, 84, 0.9);
  opacity: 0;
  overflow: hidden;
}

.hoverInfo p {
  margin-top: 9%;
  font-size: 1rem;
}

.hoverInfo button {
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
}

.hoverInfo button:hover {
  background-color: #a18f54;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tourCard:hover .hoverInfo {
  opacity: 1;
}

.tourCard:hover img {
  transform: scale(1.1);
}

.clientSuccessSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f8f9fa;
}

.clientSuccessContent {
  width: 60%;
}

.clientSuccessTitle {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.clientSuccessSubtitle {
  color: #666;
  font-size: 20px;
  margin-bottom: 30px;
}

.testimonialContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonial {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonialQuote {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.testimonialRating {
  color: #ffc107;
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonialAuthor {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.clientSuccessImage {
  width: 35%;
}

.clientSuccessImage img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
}

.activityMain {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.activitiesFinder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.activitySelectionArea,
.activityDetailsDisplay,
.activityPurchaseForm {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.activitySelectionArea label,
.activityPurchaseForm label {
    display: block;
    margin-bottom: 5px;
}

.activitySelectionArea select,
.activityPurchaseForm input[type="number"],
.activityPurchaseForm input[type="text"],
.activityPurchaseForm input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.purchaseButton,
.resetButton {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.resetButton {
    background-color: #f44336;
    color: white;
}

.purchaseButton {
    background-color: #4CAF50;
    color: white;
}

.confirmationMessageArea {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-top: 20px;
}
